@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP');

/* ************************************************************** */
/* common                                                         */
/* ************************************************************** */
a       { opacity: .8; color: #de4400; transition: opacity .5s; }
a:hover { opacity:  1; }

.c_mt_1hf { margin-top: .5em; }
.c_mt_1em { margin-top:  1em; }
.c_mt_2em { margin-top:  2em; }
.c_mt_3em { margin-top:  3em; }
.c_mt_4em { margin-top:  4em; }
.c_mt_5em { margin-top:  5em; }
.c_mt_6em { margin-top:  6em; }
.c_ff_sns { font-family: 'Noto Sans JP', sans-serif; }
.c_ff_srf { font-family: 'Noto Serif JP', serif; }
.c_fw_bld { font-weight: bold; }
.c_fs_big { font-size: 1.2rem; }
.c_fs_sml { font-size:  .8rem; }
.c_mg_cnt { margin-left: auto; margin-right: auto; }
.c_ta_cnt { text-align: center; }
.c_indent { padding-left: 1em; box-sizing: border-box; }
/* + media query ++++++++++++++++++++++++++++++++++++++++++++++++ */
@media all and (min-width: 768px) {
  .only_n { display: none!important; visibility: hidden!important; }
}
@media all and (max-width: 767px) {
  .only_w { display: none!important; visibility: hidden!important; }
}


/* ************************************************************** */
/* baseline                                                       */
/* ************************************************************** */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  color:#262628;
  font-weight: normal;
  letter-spacing: .1em;
  line-height:1.8em;
  /* min-width: 480px; */
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background-color: #cecec0;
}


/* ************************************************************** */
/* header                                                         */
/* ************************************************************** */
header {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  background-color: #494944;
}


/* ************************************************************** */
/* main                                                           */
/* ************************************************************** */
main {
  /* flex: 1; */
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}


/* ************************************************************** */
/* footer                                                         */
/* ************************************************************** */
footer {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  background-color: #494944;
}


/* ************************************************************** */
/* calendar                                                       */
/* ************************************************************** */
section#calendar {
  position: relative;
  display: block;
  width: 90vw;
  height: calc( 90vw / 7 * 6 );
  border: 1px solid #000;
  /* border-collapse: collapse;
  box-sizing: border-box; */
  margin: 0 auto;
}


/* ************************************************************** */
/* swiper                                                         */
/* ************************************************************** */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide::before {
  content: "";
  display: block;
  padding-top: 71.5%;
} */
.swiper-slide>div {
  /* position: absolute;
  top: 0;
  left: 0; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: left;
  align-items: flex-start; */
  align-content: flex-start;
  width: 100%;
  height: 100%;
}
.swiper-slide>div>p {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width:  calc( 90vw / 7 );
  height: calc( 90vw / 7 );
  /* width: calc( 100% / 7 );
  height: calc( 100% / 5 ); */
  /* border: 1px solid #cdcdcd;
  border-collapse: collapse;
  box-sizing: border-box; */
  line-height: 1em;
  font-weight: bold;
  cursor: pointer;
}
.swiper-slide>div>p.mon { margin-left: calc( 90vw / 7 * 1 ); }
.swiper-slide>div>p.tue { margin-left: calc( 90vw / 7 * 2 ); }
.swiper-slide>div>p.wed { margin-left: calc( 90vw / 7 * 3 ); }
.swiper-slide>div>p.thu { margin-left: calc( 90vw / 7 * 4 ); }
.swiper-slide>div>p.fri { margin-left: calc( 90vw / 7 * 5 ); }
.swiper-slide>div>p.sat { margin-left: calc( 90vw / 7 * 6 ); }
.swiper-slide>div>p.checked::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width:  70%;
  height: 70%;
  margin: auto;
  background-color: rgba(255, 100, 0, .6);
  border-radius: 50%;
}
.swiper-slide>div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: calc( 90vw / 7 );
  height: 100%;
  background-color: rgba(255, 0, 0, .2);
}


/* ************************************************************** */
/* common                                                         */
/* ************************************************************** */
#purchase_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 1em 5%;
}
#purchase_wrapper>*:not(:first-child) {
  margin-left: 1em;
  box-sizing: border-box;
}
p#yyyymm {
  position: relative;
  display: block;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 0;
  margin: 1em 5%;
}